.App {
  text-align: center;
  border: 1px solid black;
  padding: 0 30px 30px 30px;
  margin: 15px 30% 0px 30% ;
  background-color: antiquewhite;
}

button{
  padding: 15px;
  font-size: medium;
  background-color: chocolate;
  border-radius: 10px;
  color: white;
  font-weight:600 ;
}

button:hover{
  background-color: aliceblue;
  color: black;
  cursor: pointer;
}

.joke{
  margin: 20px;
  text-align: center;
  padding: 20px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: large;
  line-height: 30px;
}
